/build/
/cmake-build-*/


/.idea/

/.vscode

*.user
*.suo
*.VC.db
.vs/

*.spv

/cooked/
/tools/output/

*.tracy

*.log
crash_*.txt

.DS_Store
Thumbs.db
desktop.ini

*.pch
*.gch

/compile_commands.json

/cmake-build-debug/